$darkest: hsl(0, 0%, 5%);
$darker: hsl(0, 0%, 10%);
$dark: hsl(0, 0%, 20%);
$light: hsl(0, 0%, 45%);
$lighter: hsl(0, 0%, 80%);
$lightest: hsl(0, 0%, 100%);

$mainColor: hsl(203, 100%, 50%);
$darkMain: mix($darker, $mainColor, 97%);
$gradient1: mix($darker,$mainColor, 91%);
$gradient2: adjust_hue($gradient1, -8);
